{% comment %} {% load static from staticfiles %} {% endcomment %}
{% comment %} Above codes from youtube instructor, but depreciated from djiango 2.0 and removed from 3.0 {% endcomment %}
{% comment %} https://stackoverflow.com/questions/55929472/django-templatesyntaxerror-staticfiles-is-not-a-registered-tag-library {% endcomment %}
{% load static from static %}


<!doctype html>
<html>
  <head>
    
    
    <title>Articles</title>
    {% comment %} <link rel="stylesheet" href="/static/styles.css" {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
      <div="wrapper">
        <h1><a href="{% url 'list' %}">This is header</h1>
          <div align="center">
          {% block content %}
          {% endblock %}
          </div>
  </div>
{% comment %}  Footer starts here: {% endcomment %}
  <div>
    <p>footer starts here--</p>
    <div class="card">
      <div class="card-header">
        Quote
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>You can fool all the people some of the time, and some of the people all the time, but you cannot fool all the people all the time.</p>
          <footer class="blockquote-footer">--Abraham Lincoln <cite title="Source Title"></cite></footer>
        </blockquote>
      </div>
    </div>

      
  </body>
  </html>