{% load static from static %}

<link rel="stylesheet" href="{% static 'styles.css' %}"> 
<p>hi</p1>
    <div>
    {% for m in clist %}
    <div> {{m}} </div>
    {% endfor %}

    {% for m in student_details %}
    <div> {{m.name}} {{m.phone}}</div>
    {% endfor %}

    {% for m in tyre_sizes %}
    <div> {{m.name}} {{m.size}}</div>
    {% endfor %}

    
    {% if clist and bdata %}
    Both athletes and coaches are available.
{% endif %}

{% if not blist %}
    There are no athletes.
{% endif %}

{% if clist or coach_list %}
    There are some athletes or some coaches.
{% endif %}

{% if not athlete_list or coach_list %}
    There are no athletes or there are some coaches.
{% endif %}

{% if clist and not coach_list %}
    There are some athletes and absolutely no coaches.
{% endif %}



{% if tyre_sizes %}
    tyres are available.
{% endif %}

{% if not tyre_sizes %}
    There are no athletes.
{% endif %}

{% for m in tyre_sizes %}
    <div> {% if m.name %} {{forloop.counter}}. Size applicable for {{m.name}} is {{m.size}}</div>
    {% endif %}
    {% endfor %}




</div>